<div>
    <div class="bg-primary d-flex align-items-center" style="height: 40px;">
        <div class="d-flex align-items-center cursor" [routerLink]="['/medicine']">
            <i class="bi bi-arrow-left fs-1 me-1 text-light ms-5"></i>
            <h5 class="text-light">Medicine</h5>
        </div>
    </div>
    <div class="" style="height: 40px; background-color: #f0f7fc;">

    </div>
</div>

<div class="container">
    <div [hidden]="drugDeatailsLoaded">Product Details Not Found</div>
    <div class="w-75 m-auto" *ngIf="drugDeatailsLoaded">
        <!-- Medicine details header -->
        <div class="">
            <h1 class="text-center">Medicine Details</h1>
        </div>

        <div class="d-flex  shadow">
            <!-- product image -->
            <div class=" d-inline-block w-50">
                <img class="g m-auto" [src]="drugDetails[0].productImageSlug" height="400px"
                    width="100%">
            </div>

            <!-- information column -->
            <div class="d-flex flex-column  align-items-center justify-content-center d-inline-block w-50">
                <!-- drug name -->
                <div class="  mt-2 col-8 col-sm-8 col-lg-8 col-md-8 col-xl-10">
                    <h5 class="text-break">{{drugDetails[0].name}}</h5>
                </div>
                <!-- price division -->
                <div class="d-flex text-wrap  mt-2 col-8 col-sm-8 col-lg-8 col-md-8 col-xl-10">
                    <div class="d-flex align-items-center  w-50">
                        <h5 class=" text-decoration-line-through text-secondary">MRP ₹{{drugDetails[0].actualPrice}}/-*</h5>
                    </div>
                    <div class="d-flex bo w-50">
                        <h3 class=" me-2">₹ {{drugDetails[0].actualPrice}}/-*</h3>
                        <h4 class="text-success">{{drugDetails[0].discountPercentage}}%</h4>
                    </div>
                </div>

                <!-- brand name -->
                <div class="d-flex  mt-2 col-8 col-sm-8 col-lg-8 col-md-8 col-xl-10">
                    <label class="text-break text-secondary">{{drugDetails[0].brand}}</label>
                </div>

                <!-- add to cart button -->
                <div class="d-flex align-items-center  mt-2 col-8 col-sm-8 col-lg-8 col-md-8 col-xl-10">
                    <button class="btn btn-outline-primary">Add to Cart</button>
                </div>

            </div>

        </div>
    </div>
</div>